$__sprite-is-rem__: false;
$__sprite-only-retina__: false;
$__sprite-local-group__: (
	"default": (
		"add01": (
			"name": "add01",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 247,
			"x": 0,
			"y": -68,
			"x_pct": 0,
			"y_pct": "34.518%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"add02": (
			"name": "add02",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 247,
			"x": -58,
			"y": -68,
			"x_pct": "24.576%",
			"y_pct": "34.518%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"all01": (
			"name": "all01",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 247,
			"x": 0,
			"y": -126,
			"x_pct": 0,
			"y_pct": "63.959%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"all02": (
			"name": "all02",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 247,
			"x": -142,
			"y": 0,
			"x_pct": "60.169%",
			"y_pct": 0,
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"avatar": (
			"name": "avatar",
			"width": 19,
			"height": 22,
			"total_width": 286,
			"total_height": 247,
			"x": -266,
			"y": -118,
			"x_pct": "99.625%",
			"y_pct": "52.444%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"car01": (
			"name": "car01",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 247,
			"x": -219,
			"y": -184,
			"x_pct": "81.111%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"car02": (
			"name": "car02",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 247,
			"x": -267,
			"y": -184,
			"x_pct": "98.889%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"catalog": (
			"name": "catalog",
			"width": 16,
			"height": 13,
			"total_width": 286,
			"total_height": 247,
			"x": -23,
			"y": -211,
			"x_pct": "8.519%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"catcall01": (
			"name": "catcall01",
			"width": 15,
			"height": 15,
			"total_width": 286,
			"total_height": 247,
			"x": -101,
			"y": -184,
			"x_pct": "37.269%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"catcall02": (
			"name": "catcall02",
			"width": 15,
			"height": 15,
			"total_width": 286,
			"total_height": 247,
			"x": -124,
			"y": -184,
			"x_pct": "45.756%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"close": (
			"name": "close",
			"width": 19,
			"height": 19,
			"total_width": 286,
			"total_height": 247,
			"x": 0,
			"y": -184,
			"x_pct": 0,
			"y_pct": "80.702%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"cloud": (
			"name": "cloud",
			"width": 35,
			"height": 36,
			"total_width": 286,
			"total_height": 247,
			"x": -200,
			"y": -28,
			"x_pct": "79.681%",
			"y_pct": "13.27%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"coin01": (
			"name": "coin01",
			"width": 12,
			"height": 13,
			"total_width": 286,
			"total_height": 247,
			"x": -118,
			"y": -211,
			"x_pct": "43.066%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"coin02": (
			"name": "coin02",
			"width": 12,
			"height": 13,
			"total_width": 286,
			"total_height": 247,
			"x": -158,
			"y": -211,
			"x_pct": "57.664%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"coin03": (
			"name": "coin03",
			"width": 12,
			"height": 13,
			"total_width": 286,
			"total_height": 247,
			"x": -138,
			"y": -211,
			"x_pct": "50.365%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"comment": (
			"name": "comment",
			"width": 17,
			"height": 16,
			"total_width": 286,
			"total_height": 247,
			"x": -174,
			"y": -148,
			"x_pct": "64.684%",
			"y_pct": "64.069%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"face": (
			"name": "face",
			"width": 21,
			"height": 21,
			"total_width": 286,
			"total_height": 247,
			"x": -145,
			"y": -148,
			"x_pct": "54.717%",
			"y_pct": "65.487%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"find01": (
			"name": "find01",
			"width": 16,
			"height": 13,
			"total_width": 286,
			"total_height": 247,
			"x": -47,
			"y": -211,
			"x_pct": "17.407%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"find02": (
			"name": "find02",
			"width": 16,
			"height": 13,
			"total_width": 286,
			"total_height": 247,
			"x": -71,
			"y": -211,
			"x_pct": "26.296%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"home01": (
			"name": "home01",
			"width": 16,
			"height": 15,
			"total_width": 286,
			"total_height": 247,
			"x": -77,
			"y": -184,
			"x_pct": "28.519%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"home02": (
			"name": "home02",
			"width": 16,
			"height": 15,
			"total_width": 286,
			"total_height": 247,
			"x": -53,
			"y": -184,
			"x_pct": "19.63%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"icon01": (
			"name": "icon01",
			"width": 18,
			"height": 15,
			"total_width": 286,
			"total_height": 247,
			"x": -27,
			"y": -184,
			"x_pct": "10.075%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"icon02": (
			"name": "icon02",
			"width": 18,
			"height": 17,
			"total_width": 286,
			"total_height": 247,
			"x": -116,
			"y": -68,
			"x_pct": "43.284%",
			"y_pct": "29.565%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"icon03": (
			"name": "icon03",
			"width": 18,
			"height": 13,
			"total_width": 286,
			"total_height": 247,
			"x": -173,
			"y": -126,
			"x_pct": "64.552%",
			"y_pct": "53.846%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"icon04": (
			"name": "icon04",
			"width": 18,
			"height": 16,
			"total_width": 286,
			"total_height": 247,
			"x": -116,
			"y": -93,
			"x_pct": "43.284%",
			"y_pct": "40.26%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"icon05": (
			"name": "icon05",
			"width": 34,
			"height": 25,
			"total_width": 286,
			"total_height": 247,
			"x": -243,
			"y": -28,
			"x_pct": "96.429%",
			"y_pct": "12.613%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"keyboard": (
			"name": "keyboard",
			"width": 21,
			"height": 21,
			"total_width": 286,
			"total_height": 247,
			"x": -116,
			"y": -148,
			"x_pct": "43.774%",
			"y_pct": "65.487%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"level01": (
			"name": "level01",
			"width": 63,
			"height": 60,
			"total_width": 286,
			"total_height": 247,
			"x": 0,
			"y": 0,
			"x_pct": 0,
			"y_pct": 0,
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"level02": (
			"name": "level02",
			"width": 63,
			"height": 60,
			"total_width": 286,
			"total_height": 247,
			"x": -71,
			"y": 0,
			"x_pct": "31.839%",
			"y_pct": 0,
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"like": (
			"name": "like",
			"width": 15,
			"height": 14,
			"total_width": 286,
			"total_height": 247,
			"x": 0,
			"y": -211,
			"x_pct": 0,
			"y_pct": "90.558%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"liked": (
			"name": "liked",
			"width": 15,
			"height": 13,
			"total_width": 286,
			"total_height": 247,
			"x": -95,
			"y": -211,
			"x_pct": "35.055%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"lock": (
			"name": "lock",
			"width": 26,
			"height": 30,
			"total_width": 286,
			"total_height": 247,
			"x": -232,
			"y": -118,
			"x_pct": "89.231%",
			"y_pct": "54.378%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"mobile": (
			"name": "mobile",
			"width": 18,
			"height": 25,
			"total_width": 286,
			"total_height": 247,
			"x": -264,
			"y": -72,
			"x_pct": "98.507%",
			"y_pct": "32.432%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"news": (
			"name": "news",
			"width": 49,
			"height": 14,
			"total_width": 286,
			"total_height": 247,
			"x": -116,
			"y": -126,
			"x_pct": "48.945%",
			"y_pct": "54.077%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"pen": (
			"name": "pen",
			"width": 14,
			"height": 14,
			"total_width": 286,
			"total_height": 247,
			"x": 0,
			"y": -233,
			"x_pct": 0,
			"y_pct": "100%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"reduce01": (
			"name": "reduce01",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 247,
			"x": -142,
			"y": -58,
			"x_pct": "60.169%",
			"y_pct": "29.442%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"reduce02": (
			"name": "reduce02",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 247,
			"x": -58,
			"y": -126,
			"x_pct": "24.576%",
			"y_pct": "63.959%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"study01": (
			"name": "study01",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 247,
			"x": -243,
			"y": -184,
			"x_pct": "90%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"study02": (
			"name": "study02",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 247,
			"x": -195,
			"y": -184,
			"x_pct": "72.222%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"tit01": (
			"name": "tit01",
			"width": 86,
			"height": 20,
			"total_width": 286,
			"total_height": 247,
			"x": -200,
			"y": 0,
			"x_pct": "100%",
			"y_pct": 0,
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"top01": (
			"name": "top01",
			"width": 24,
			"height": 38,
			"total_width": 286,
			"total_height": 247,
			"x": -200,
			"y": -72,
			"x_pct": "76.336%",
			"y_pct": "34.45%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"top02": (
			"name": "top02",
			"width": 24,
			"height": 38,
			"total_width": 286,
			"total_height": 247,
			"x": -200,
			"y": -118,
			"x_pct": "76.336%",
			"y_pct": "56.459%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"top03": (
			"name": "top03",
			"width": 24,
			"height": 38,
			"total_width": 286,
			"total_height": 247,
			"x": -232,
			"y": -72,
			"x_pct": "88.55%",
			"y_pct": "34.45%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"user01": (
			"name": "user01",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 247,
			"x": -171,
			"y": -184,
			"x_pct": "63.333%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"user02": (
			"name": "user02",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 247,
			"x": -147,
			"y": -184,
			"x_pct": "54.444%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		)
	)
);
$__sprite-local-group-2x__: (
	"default": (
		"add01": (
			"name": "add01",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 494,
			"x": 0,
			"y": -136,
			"x_pct": 0,
			"y_pct": "34.518%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"add02": (
			"name": "add02",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 494,
			"x": -116,
			"y": -136,
			"x_pct": "24.576%",
			"y_pct": "34.518%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"all01": (
			"name": "all01",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 494,
			"x": 0,
			"y": -252,
			"x_pct": 0,
			"y_pct": "63.959%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"all02": (
			"name": "all02",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 494,
			"x": -284,
			"y": 0,
			"x_pct": "60.169%",
			"y_pct": 0,
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"avatar": (
			"name": "avatar",
			"width": 38,
			"height": 44,
			"total_width": 572,
			"total_height": 494,
			"x": -532,
			"y": -236,
			"x_pct": "99.625%",
			"y_pct": "52.444%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"car01": (
			"name": "car01",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 494,
			"x": -438,
			"y": -368,
			"x_pct": "81.111%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"car02": (
			"name": "car02",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 494,
			"x": -534,
			"y": -368,
			"x_pct": "98.889%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"catalog": (
			"name": "catalog",
			"width": 32,
			"height": 26,
			"total_width": 572,
			"total_height": 494,
			"x": -46,
			"y": -422,
			"x_pct": "8.519%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"catcall01": (
			"name": "catcall01",
			"width": 30,
			"height": 30,
			"total_width": 572,
			"total_height": 494,
			"x": -202,
			"y": -368,
			"x_pct": "37.269%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"catcall02": (
			"name": "catcall02",
			"width": 30,
			"height": 30,
			"total_width": 572,
			"total_height": 494,
			"x": -248,
			"y": -368,
			"x_pct": "45.756%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"close": (
			"name": "close",
			"width": 38,
			"height": 38,
			"total_width": 572,
			"total_height": 494,
			"x": 0,
			"y": -368,
			"x_pct": 0,
			"y_pct": "80.702%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"cloud": (
			"name": "cloud",
			"width": 70,
			"height": 72,
			"total_width": 572,
			"total_height": 494,
			"x": -400,
			"y": -56,
			"x_pct": "79.681%",
			"y_pct": "13.27%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"coin01": (
			"name": "coin01",
			"width": 24,
			"height": 26,
			"total_width": 572,
			"total_height": 494,
			"x": -236,
			"y": -422,
			"x_pct": "43.066%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"coin02": (
			"name": "coin02",
			"width": 24,
			"height": 26,
			"total_width": 572,
			"total_height": 494,
			"x": -316,
			"y": -422,
			"x_pct": "57.664%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"coin03": (
			"name": "coin03",
			"width": 24,
			"height": 26,
			"total_width": 572,
			"total_height": 494,
			"x": -276,
			"y": -422,
			"x_pct": "50.365%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"comment": (
			"name": "comment",
			"width": 34,
			"height": 32,
			"total_width": 572,
			"total_height": 494,
			"x": -348,
			"y": -296,
			"x_pct": "64.684%",
			"y_pct": "64.069%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"face": (
			"name": "face",
			"width": 42,
			"height": 42,
			"total_width": 572,
			"total_height": 494,
			"x": -290,
			"y": -296,
			"x_pct": "54.717%",
			"y_pct": "65.487%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"find01": (
			"name": "find01",
			"width": 32,
			"height": 26,
			"total_width": 572,
			"total_height": 494,
			"x": -94,
			"y": -422,
			"x_pct": "17.407%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"find02": (
			"name": "find02",
			"width": 32,
			"height": 26,
			"total_width": 572,
			"total_height": 494,
			"x": -142,
			"y": -422,
			"x_pct": "26.296%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"home01": (
			"name": "home01",
			"width": 32,
			"height": 30,
			"total_width": 572,
			"total_height": 494,
			"x": -154,
			"y": -368,
			"x_pct": "28.519%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"home02": (
			"name": "home02",
			"width": 32,
			"height": 30,
			"total_width": 572,
			"total_height": 494,
			"x": -106,
			"y": -368,
			"x_pct": "19.63%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"icon01": (
			"name": "icon01",
			"width": 36,
			"height": 30,
			"total_width": 572,
			"total_height": 494,
			"x": -54,
			"y": -368,
			"x_pct": "10.075%",
			"y_pct": "79.31%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"icon02": (
			"name": "icon02",
			"width": 36,
			"height": 34,
			"total_width": 572,
			"total_height": 494,
			"x": -232,
			"y": -136,
			"x_pct": "43.284%",
			"y_pct": "29.565%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"icon03": (
			"name": "icon03",
			"width": 36,
			"height": 26,
			"total_width": 572,
			"total_height": 494,
			"x": -346,
			"y": -252,
			"x_pct": "64.552%",
			"y_pct": "53.846%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"icon04": (
			"name": "icon04",
			"width": 36,
			"height": 32,
			"total_width": 572,
			"total_height": 494,
			"x": -232,
			"y": -186,
			"x_pct": "43.284%",
			"y_pct": "40.26%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"icon05": (
			"name": "icon05",
			"width": 68,
			"height": 50,
			"total_width": 572,
			"total_height": 494,
			"x": -486,
			"y": -56,
			"x_pct": "96.429%",
			"y_pct": "12.613%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"keyboard": (
			"name": "keyboard",
			"width": 42,
			"height": 42,
			"total_width": 572,
			"total_height": 494,
			"x": -232,
			"y": -296,
			"x_pct": "43.774%",
			"y_pct": "65.487%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"level01": (
			"name": "level01",
			"width": 126,
			"height": 120,
			"total_width": 572,
			"total_height": 494,
			"x": 0,
			"y": 0,
			"x_pct": 0,
			"y_pct": 0,
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"level02": (
			"name": "level02",
			"width": 126,
			"height": 120,
			"total_width": 572,
			"total_height": 494,
			"x": -142,
			"y": 0,
			"x_pct": "31.839%",
			"y_pct": 0,
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"like": (
			"name": "like",
			"width": 30,
			"height": 28,
			"total_width": 572,
			"total_height": 494,
			"x": 0,
			"y": -422,
			"x_pct": 0,
			"y_pct": "90.558%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"liked": (
			"name": "liked",
			"width": 30,
			"height": 26,
			"total_width": 572,
			"total_height": 494,
			"x": -190,
			"y": -422,
			"x_pct": "35.055%",
			"y_pct": "90.171%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"lock": (
			"name": "lock",
			"width": 52,
			"height": 60,
			"total_width": 572,
			"total_height": 494,
			"x": -464,
			"y": -236,
			"x_pct": "89.231%",
			"y_pct": "54.378%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"mobile": (
			"name": "mobile",
			"width": 36,
			"height": 50,
			"total_width": 572,
			"total_height": 494,
			"x": -528,
			"y": -144,
			"x_pct": "98.507%",
			"y_pct": "32.432%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"news": (
			"name": "news",
			"width": 98,
			"height": 28,
			"total_width": 572,
			"total_height": 494,
			"x": -232,
			"y": -252,
			"x_pct": "48.945%",
			"y_pct": "54.077%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"pen": (
			"name": "pen",
			"width": 28,
			"height": 28,
			"total_width": 572,
			"total_height": 494,
			"x": 0,
			"y": -466,
			"x_pct": 0,
			"y_pct": "100%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"reduce01": (
			"name": "reduce01",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 494,
			"x": -284,
			"y": -116,
			"x_pct": "60.169%",
			"y_pct": "29.442%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"reduce02": (
			"name": "reduce02",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 494,
			"x": -116,
			"y": -252,
			"x_pct": "24.576%",
			"y_pct": "63.959%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"study01": (
			"name": "study01",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 494,
			"x": -486,
			"y": -368,
			"x_pct": "90%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"study02": (
			"name": "study02",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 494,
			"x": -390,
			"y": -368,
			"x_pct": "72.222%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"tit01": (
			"name": "tit01",
			"width": 172,
			"height": 40,
			"total_width": 572,
			"total_height": 494,
			"x": -400,
			"y": 0,
			"x_pct": "100%",
			"y_pct": 0,
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"top01": (
			"name": "top01",
			"width": 48,
			"height": 76,
			"total_width": 572,
			"total_height": 494,
			"x": -400,
			"y": -144,
			"x_pct": "76.336%",
			"y_pct": "34.45%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"top02": (
			"name": "top02",
			"width": 48,
			"height": 76,
			"total_width": 572,
			"total_height": 494,
			"x": -400,
			"y": -236,
			"x_pct": "76.336%",
			"y_pct": "56.459%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"top03": (
			"name": "top03",
			"width": 48,
			"height": 76,
			"total_width": 572,
			"total_height": 494,
			"x": -464,
			"y": -144,
			"x_pct": "88.55%",
			"y_pct": "34.45%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"user01": (
			"name": "user01",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 494,
			"x": -342,
			"y": -368,
			"x_pct": "63.333%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"user02": (
			"name": "user02",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 494,
			"x": -294,
			"y": -368,
			"x_pct": "54.444%",
			"y_pct": "78.97%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		)
	)
);
@function sprite-prop($name, $property, $retina: null) {
	$type: type-of($name);
	@if ('map'==$type) {
		@return map-get($name, $property);
	}
	$retina: if(null==$retina, global_variable_exists('__sprite-group-2x__'), $retina);
	$set: if($retina, $__sprite-group-2x__, $__sprite-group__);
	$slash: str-index($name, '/');
	$group: null;
	@if ($slash) {
		$group: str-slice($name, 0, $slash - 1);
		$name: str-slice($name, $slash + 1);
	}
	@else {
		$group: str-index($name, '-');
		$group: if($group, str-slice($name, 0, $group - 1), 'default');
		$group: if(map-has-key($set, $group), $group, 'default');
	}
	$group: map-get($set, $group);
	$name: map-get($group, $name);
	@return map-get($name, $property);
}

@function sprite-info($group, $prop: null, $retina: null) {
	@if ('string' !=type-of($prop)) {
		$retina: $prop;
		$prop: $group;
		$group: nth(map-keys($__sprite-group__), 1);
	}
	$retina: if(null==$retina, global_variable_exists('__sprite-group-2x__'), $retina);
	$set: if($retina, $__sprite-group-2x__, $__sprite-group__);
	$set: map-get($set, $group);
	$set: map-get($set, nth(map-keys($set), 1));
	$prop: if('width'==$prop, 'total_width', $prop);
	$prop: if('height'==$prop, 'total_height', $prop);
	@return map-get($set, $prop);
}

@function sprite-group($group: 'default', $retina: null) {
	@if ('bool'==type-of($group)) {
		$retina: $group;
		$group: 'default';
	}
	$retina: if(null==$retina, global_variable_exists('__sprite-group-2x__'), $retina);
	$set: if($retina, $__sprite-group-2x__, $__sprite-group__);
	@return map-get($set, $group);
}

@mixin sprite-position($name) {
	$x: null;
	$y: null;
	@if ($__sprite-is-rem__) {
		$x: unquote(sprite-prop($name, 'x_pct'));
		$y: unquote(sprite-prop($name, 'y_pct'));
	}
	@else if ($__sprite-only-retina__) {
		$x: sprite-prop($name, 'x', false) + px;
		$y: sprite-prop($name, 'y', false) + px;
	}
	@else {
		$x: sprite-prop($name, 'x') + px;
		$y: sprite-prop($name, 'y') + px;
	}
	background-position: $x $y;
}

@mixin sprite-item($name) {
	$slash: str-index($name, '/');
	$dir: null;
	@if ($slash) {
		$dir: str-slice($name, 0, $slash - 1);
	}
	@else {
		$dir: str-index($name, '-');
		$dir: if($dir, str-slice($dir, 0, $dir - 1), 'default');
		$dir: if(map-has-key($__sprite-group__, $dir), $dir, 'default');
	}
	@extend %__sprite-group-#{$dir}__;
	@include sprite-position($name);
	@if ($__sprite-only-retina__) {
		width: sprite-prop($name, 'width', false) + px;
		height: sprite-prop($name, 'height', false) + px;
	}
	@else {
		width: sprite-prop($name, 'width') + px;
		height: sprite-prop($name, 'height') + px;
	}
}

$__sprite-is-loaded__: global_variable_exists('__sprite-group__') and map-has-key($__sprite-group__, nth(map-keys($__sprite-local-group__), 1));
$__sprite-group__: map-merge(if(global_variable_exists('__sprite-group__'), $__sprite-group__, ()), $__sprite-local-group__);
@if (global_variable_exists('__sprite-local-group-2x__')) {
	$__sprite-group-2x__: map-merge(if(global_variable_exists('__sprite-group-2x__'), $__sprite-group-2x__, ()), $__sprite-local-group-2x__) !global;
}

@if (false==$__sprite-is-loaded__) {
	@each $dir,
	$group in $__sprite-local-group__ {
		%__sprite-group-#{$dir}__ {
			$fileName: sprite-info($dir, 'sprite_name', false);
			background-image: resolve($fileName);
			@if (global_variable_exists('__sprite-group-2x__')) {
				$fileName2x: sprite-info($dir, 'sprite_name', true);
				$total_width: sprite-info($dir, 'width', true) + px;
				$total_height: sprite-info($dir, 'height', true) + px;
				@if ($__sprite-only-retina__) {
					$total_width: sprite-info($dir, 'width', false) + px;
					$total_height: sprite-info($dir, 'height', false) + px;
				}
				background-image: -webkit-image-set(resolve($fileName) 1x, resolve($fileName2x) 2x);
				background-size: $total_width $total_height;
			}
		}
	}
}