$__sprite-is-rem__: false;
$__sprite-only-retina__: false;
$__sprite-local-group__: (
	"default": (
		"add01": (
			"name": "add01",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 249,
			"x": -58,
			"y": -68,
			"x_pct": "24.576%",
			"y_pct": "34.171%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"add02": (
			"name": "add02",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 249,
			"x": -142,
			"y": -58,
			"x_pct": "60.169%",
			"y_pct": "29.146%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"all01": (
			"name": "all01",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 249,
			"x": 0,
			"y": -126,
			"x_pct": 0,
			"y_pct": "63.317%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"all02": (
			"name": "all02",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 249,
			"x": -142,
			"y": 0,
			"x_pct": "60.169%",
			"y_pct": 0,
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"avatar": (
			"name": "avatar",
			"width": 19,
			"height": 22,
			"total_width": 286,
			"total_height": 249,
			"x": 0,
			"y": -184,
			"x_pct": 0,
			"y_pct": "81.057%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"car01": (
			"name": "car01",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 249,
			"x": -97,
			"y": -184,
			"x_pct": "35.926%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"car02": (
			"name": "car02",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 249,
			"x": -121,
			"y": -184,
			"x_pct": "44.815%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"catalog": (
			"name": "catalog",
			"width": 16,
			"height": 13,
			"total_width": 286,
			"total_height": 249,
			"x": -240,
			"y": -184,
			"x_pct": "88.889%",
			"y_pct": "77.966%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"catcall01": (
			"name": "catcall01",
			"width": 15,
			"height": 15,
			"total_width": 286,
			"total_height": 249,
			"x": -50,
			"y": -184,
			"x_pct": "18.45%",
			"y_pct": "78.632%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"catcall02": (
			"name": "catcall02",
			"width": 15,
			"height": 15,
			"total_width": 286,
			"total_height": 249,
			"x": -27,
			"y": -184,
			"x_pct": "9.963%",
			"y_pct": "78.632%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"close": (
			"name": "close",
			"width": 19,
			"height": 19,
			"total_width": 286,
			"total_height": 249,
			"x": -116,
			"y": -155,
			"x_pct": "43.446%",
			"y_pct": "67.391%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"cloud": (
			"name": "cloud",
			"width": 35,
			"height": 36,
			"total_width": 286,
			"total_height": 249,
			"x": -200,
			"y": -28,
			"x_pct": "79.681%",
			"y_pct": "13.146%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"comment": (
			"name": "comment",
			"width": 17,
			"height": 16,
			"total_width": 286,
			"total_height": 249,
			"x": -258,
			"y": -140,
			"x_pct": "95.911%",
			"y_pct": "60.086%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"face": (
			"name": "face",
			"width": 21,
			"height": 21,
			"total_width": 286,
			"total_height": 249,
			"x": -116,
			"y": -126,
			"x_pct": "43.774%",
			"y_pct": "55.263%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"find01": (
			"name": "find01",
			"width": 16,
			"height": 13,
			"total_width": 286,
			"total_height": 249,
			"x": -264,
			"y": -184,
			"x_pct": "97.778%",
			"y_pct": "77.966%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"find02": (
			"name": "find02",
			"width": 16,
			"height": 13,
			"total_width": 286,
			"total_height": 249,
			"x": 0,
			"y": -214,
			"x_pct": 0,
			"y_pct": "90.678%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"home01": (
			"name": "home01",
			"width": 16,
			"height": 15,
			"total_width": 286,
			"total_height": 249,
			"x": -174,
			"y": -126,
			"x_pct": "64.444%",
			"y_pct": "53.846%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"home02": (
			"name": "home02",
			"width": 16,
			"height": 15,
			"total_width": 286,
			"total_height": 249,
			"x": -143,
			"y": -155,
			"x_pct": "52.963%",
			"y_pct": "66.239%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"icon01": (
			"name": "icon01",
			"width": 18,
			"height": 15,
			"total_width": 286,
			"total_height": 249,
			"x": -116,
			"y": -93,
			"x_pct": "43.284%",
			"y_pct": "39.744%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"icon02": (
			"name": "icon02",
			"width": 18,
			"height": 17,
			"total_width": 286,
			"total_height": 249,
			"x": -116,
			"y": -68,
			"x_pct": "43.284%",
			"y_pct": "29.31%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"icon03": (
			"name": "icon03",
			"width": 18,
			"height": 13,
			"total_width": 286,
			"total_height": 249,
			"x": -167,
			"y": -155,
			"x_pct": "62.313%",
			"y_pct": "65.678%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"icon04": (
			"name": "icon04",
			"width": 18,
			"height": 16,
			"total_width": 286,
			"total_height": 249,
			"x": -232,
			"y": -140,
			"x_pct": "86.567%",
			"y_pct": "60.086%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"keyboard": (
			"name": "keyboard",
			"width": 21,
			"height": 21,
			"total_width": 286,
			"total_height": 249,
			"x": -145,
			"y": -126,
			"x_pct": "54.717%",
			"y_pct": "55.263%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"level01": (
			"name": "level01",
			"width": 63,
			"height": 60,
			"total_width": 286,
			"total_height": 249,
			"x": -71,
			"y": 0,
			"x_pct": "31.839%",
			"y_pct": 0,
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"level02": (
			"name": "level02",
			"width": 63,
			"height": 60,
			"total_width": 286,
			"total_height": 249,
			"x": 0,
			"y": 0,
			"x_pct": 0,
			"y_pct": 0,
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"like": (
			"name": "like",
			"width": 15,
			"height": 14,
			"total_width": 286,
			"total_height": 249,
			"x": -217,
			"y": -184,
			"x_pct": "80.074%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"liked": (
			"name": "liked",
			"width": 15,
			"height": 13,
			"total_width": 286,
			"total_height": 249,
			"x": -24,
			"y": -214,
			"x_pct": "8.856%",
			"y_pct": "90.678%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"lock": (
			"name": "lock",
			"width": 26,
			"height": 30,
			"total_width": 286,
			"total_height": 249,
			"x": -243,
			"y": -28,
			"x_pct": "93.462%",
			"y_pct": "12.785%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"mobile": (
			"name": "mobile",
			"width": 18,
			"height": 25,
			"total_width": 286,
			"total_height": 249,
			"x": -264,
			"y": -72,
			"x_pct": "98.507%",
			"y_pct": "32.143%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"news": (
			"name": "news",
			"width": 49,
			"height": 14,
			"total_width": 286,
			"total_height": 249,
			"x": -232,
			"y": -118,
			"x_pct": "97.89%",
			"y_pct": "50.213%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"pen": (
			"name": "pen",
			"width": 14,
			"height": 14,
			"total_width": 286,
			"total_height": 249,
			"x": 0,
			"y": -235,
			"x_pct": 0,
			"y_pct": "100%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"reduce01": (
			"name": "reduce01",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 249,
			"x": 0,
			"y": -68,
			"x_pct": 0,
			"y_pct": "34.171%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"reduce02": (
			"name": "reduce02",
			"width": 50,
			"height": 50,
			"total_width": 286,
			"total_height": 249,
			"x": -58,
			"y": -126,
			"x_pct": "24.576%",
			"y_pct": "63.317%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"study01": (
			"name": "study01",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 249,
			"x": -169,
			"y": -184,
			"x_pct": "62.593%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"study02": (
			"name": "study02",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 249,
			"x": -73,
			"y": -184,
			"x_pct": "27.037%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"tit01": (
			"name": "tit01",
			"width": 86,
			"height": 20,
			"total_width": 286,
			"total_height": 249,
			"x": -200,
			"y": 0,
			"x_pct": "100%",
			"y_pct": 0,
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"top01": (
			"name": "top01",
			"width": 24,
			"height": 38,
			"total_width": 286,
			"total_height": 249,
			"x": -200,
			"y": -118,
			"x_pct": "76.336%",
			"y_pct": "55.924%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"top02": (
			"name": "top02",
			"width": 24,
			"height": 38,
			"total_width": 286,
			"total_height": 249,
			"x": -232,
			"y": -72,
			"x_pct": "88.55%",
			"y_pct": "34.123%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"top03": (
			"name": "top03",
			"width": 24,
			"height": 38,
			"total_width": 286,
			"total_height": 249,
			"x": -200,
			"y": -72,
			"x_pct": "76.336%",
			"y_pct": "34.123%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"user01": (
			"name": "user01",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 249,
			"x": -193,
			"y": -184,
			"x_pct": "71.481%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		),
		"user02": (
			"name": "user02",
			"width": 16,
			"height": 14,
			"total_width": 286,
			"total_height": 249,
			"x": -145,
			"y": -184,
			"x_pct": "53.704%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite.png",
			"sprite_name": "sprite.png"
		)
	)
);
$__sprite-local-group-2x__: (
	"default": (
		"add01": (
			"name": "add01",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 498,
			"x": -116,
			"y": -136,
			"x_pct": "24.576%",
			"y_pct": "34.171%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"add02": (
			"name": "add02",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 498,
			"x": -284,
			"y": -116,
			"x_pct": "60.169%",
			"y_pct": "29.146%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"all01": (
			"name": "all01",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 498,
			"x": 0,
			"y": -252,
			"x_pct": 0,
			"y_pct": "63.317%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"all02": (
			"name": "all02",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 498,
			"x": -284,
			"y": 0,
			"x_pct": "60.169%",
			"y_pct": 0,
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"avatar": (
			"name": "avatar",
			"width": 38,
			"height": 44,
			"total_width": 572,
			"total_height": 498,
			"x": 0,
			"y": -368,
			"x_pct": 0,
			"y_pct": "81.057%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"car01": (
			"name": "car01",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 498,
			"x": -194,
			"y": -368,
			"x_pct": "35.926%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"car02": (
			"name": "car02",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 498,
			"x": -242,
			"y": -368,
			"x_pct": "44.815%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"catalog": (
			"name": "catalog",
			"width": 32,
			"height": 26,
			"total_width": 572,
			"total_height": 498,
			"x": -480,
			"y": -368,
			"x_pct": "88.889%",
			"y_pct": "77.966%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"catcall01": (
			"name": "catcall01",
			"width": 30,
			"height": 30,
			"total_width": 572,
			"total_height": 498,
			"x": -100,
			"y": -368,
			"x_pct": "18.45%",
			"y_pct": "78.632%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"catcall02": (
			"name": "catcall02",
			"width": 30,
			"height": 30,
			"total_width": 572,
			"total_height": 498,
			"x": -54,
			"y": -368,
			"x_pct": "9.963%",
			"y_pct": "78.632%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"close": (
			"name": "close",
			"width": 38,
			"height": 38,
			"total_width": 572,
			"total_height": 498,
			"x": -232,
			"y": -310,
			"x_pct": "43.446%",
			"y_pct": "67.391%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"cloud": (
			"name": "cloud",
			"width": 70,
			"height": 72,
			"total_width": 572,
			"total_height": 498,
			"x": -400,
			"y": -56,
			"x_pct": "79.681%",
			"y_pct": "13.146%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"comment": (
			"name": "comment",
			"width": 34,
			"height": 32,
			"total_width": 572,
			"total_height": 498,
			"x": -516,
			"y": -280,
			"x_pct": "95.911%",
			"y_pct": "60.086%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"face": (
			"name": "face",
			"width": 42,
			"height": 42,
			"total_width": 572,
			"total_height": 498,
			"x": -232,
			"y": -252,
			"x_pct": "43.774%",
			"y_pct": "55.263%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"find01": (
			"name": "find01",
			"width": 32,
			"height": 26,
			"total_width": 572,
			"total_height": 498,
			"x": -528,
			"y": -368,
			"x_pct": "97.778%",
			"y_pct": "77.966%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"find02": (
			"name": "find02",
			"width": 32,
			"height": 26,
			"total_width": 572,
			"total_height": 498,
			"x": 0,
			"y": -428,
			"x_pct": 0,
			"y_pct": "90.678%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"home01": (
			"name": "home01",
			"width": 32,
			"height": 30,
			"total_width": 572,
			"total_height": 498,
			"x": -348,
			"y": -252,
			"x_pct": "64.444%",
			"y_pct": "53.846%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"home02": (
			"name": "home02",
			"width": 32,
			"height": 30,
			"total_width": 572,
			"total_height": 498,
			"x": -286,
			"y": -310,
			"x_pct": "52.963%",
			"y_pct": "66.239%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"icon01": (
			"name": "icon01",
			"width": 36,
			"height": 30,
			"total_width": 572,
			"total_height": 498,
			"x": -232,
			"y": -186,
			"x_pct": "43.284%",
			"y_pct": "39.744%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"icon02": (
			"name": "icon02",
			"width": 36,
			"height": 34,
			"total_width": 572,
			"total_height": 498,
			"x": -232,
			"y": -136,
			"x_pct": "43.284%",
			"y_pct": "29.31%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"icon03": (
			"name": "icon03",
			"width": 36,
			"height": 26,
			"total_width": 572,
			"total_height": 498,
			"x": -334,
			"y": -310,
			"x_pct": "62.313%",
			"y_pct": "65.678%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"icon04": (
			"name": "icon04",
			"width": 36,
			"height": 32,
			"total_width": 572,
			"total_height": 498,
			"x": -464,
			"y": -280,
			"x_pct": "86.567%",
			"y_pct": "60.086%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"keyboard": (
			"name": "keyboard",
			"width": 42,
			"height": 42,
			"total_width": 572,
			"total_height": 498,
			"x": -290,
			"y": -252,
			"x_pct": "54.717%",
			"y_pct": "55.263%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"level01": (
			"name": "level01",
			"width": 126,
			"height": 120,
			"total_width": 572,
			"total_height": 498,
			"x": -142,
			"y": 0,
			"x_pct": "31.839%",
			"y_pct": 0,
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"level02": (
			"name": "level02",
			"width": 126,
			"height": 120,
			"total_width": 572,
			"total_height": 498,
			"x": 0,
			"y": 0,
			"x_pct": 0,
			"y_pct": 0,
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"like": (
			"name": "like",
			"width": 30,
			"height": 28,
			"total_width": 572,
			"total_height": 498,
			"x": -434,
			"y": -368,
			"x_pct": "80.074%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"liked": (
			"name": "liked",
			"width": 30,
			"height": 26,
			"total_width": 572,
			"total_height": 498,
			"x": -48,
			"y": -428,
			"x_pct": "8.856%",
			"y_pct": "90.678%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"lock": (
			"name": "lock",
			"width": 52,
			"height": 60,
			"total_width": 572,
			"total_height": 498,
			"x": -486,
			"y": -56,
			"x_pct": "93.462%",
			"y_pct": "12.785%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"mobile": (
			"name": "mobile",
			"width": 36,
			"height": 50,
			"total_width": 572,
			"total_height": 498,
			"x": -528,
			"y": -144,
			"x_pct": "98.507%",
			"y_pct": "32.143%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"news": (
			"name": "news",
			"width": 98,
			"height": 28,
			"total_width": 572,
			"total_height": 498,
			"x": -464,
			"y": -236,
			"x_pct": "97.89%",
			"y_pct": "50.213%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"pen": (
			"name": "pen",
			"width": 28,
			"height": 28,
			"total_width": 572,
			"total_height": 498,
			"x": 0,
			"y": -470,
			"x_pct": 0,
			"y_pct": "100%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"reduce01": (
			"name": "reduce01",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 498,
			"x": 0,
			"y": -136,
			"x_pct": 0,
			"y_pct": "34.171%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"reduce02": (
			"name": "reduce02",
			"width": 100,
			"height": 100,
			"total_width": 572,
			"total_height": 498,
			"x": -116,
			"y": -252,
			"x_pct": "24.576%",
			"y_pct": "63.317%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"study01": (
			"name": "study01",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 498,
			"x": -338,
			"y": -368,
			"x_pct": "62.593%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"study02": (
			"name": "study02",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 498,
			"x": -146,
			"y": -368,
			"x_pct": "27.037%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"tit01": (
			"name": "tit01",
			"width": 172,
			"height": 40,
			"total_width": 572,
			"total_height": 498,
			"x": -400,
			"y": 0,
			"x_pct": "100%",
			"y_pct": 0,
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"top01": (
			"name": "top01",
			"width": 48,
			"height": 76,
			"total_width": 572,
			"total_height": 498,
			"x": -400,
			"y": -236,
			"x_pct": "76.336%",
			"y_pct": "55.924%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"top02": (
			"name": "top02",
			"width": 48,
			"height": 76,
			"total_width": 572,
			"total_height": 498,
			"x": -464,
			"y": -144,
			"x_pct": "88.55%",
			"y_pct": "34.123%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"top03": (
			"name": "top03",
			"width": 48,
			"height": 76,
			"total_width": 572,
			"total_height": 498,
			"x": -400,
			"y": -144,
			"x_pct": "76.336%",
			"y_pct": "34.123%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"user01": (
			"name": "user01",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 498,
			"x": -386,
			"y": -368,
			"x_pct": "71.481%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		),
		"user02": (
			"name": "user02",
			"width": 32,
			"height": 28,
			"total_width": 572,
			"total_height": 498,
			"x": -290,
			"y": -368,
			"x_pct": "53.704%",
			"y_pct": "78.298%",
			"url": "/images/sprite/sprite@2x.png",
			"sprite_name": "sprite@2x.png"
		)
	)
);
@function sprite-prop($name, $property, $retina: null) {
	$type: type-of($name);
	@if ('map'==$type) {
		@return map-get($name, $property);
	}
	$retina: if(null==$retina, global_variable_exists('__sprite-group-2x__'), $retina);
	$set: if($retina, $__sprite-group-2x__, $__sprite-group__);
	$slash: str-index($name, '/');
	$group: null;
	@if ($slash) {
		$group: str-slice($name, 0, $slash - 1);
		$name: str-slice($name, $slash + 1);
	}
	@else {
		$group: str-index($name, '-');
		$group: if($group, str-slice($name, 0, $group - 1), 'default');
		$group: if(map-has-key($set, $group), $group, 'default');
	}
	$group: map-get($set, $group);
	$name: map-get($group, $name);
	@return map-get($name, $property);
}

@function sprite-info($group, $prop: null, $retina: null) {
	@if ('string' !=type-of($prop)) {
		$retina: $prop;
		$prop: $group;
		$group: nth(map-keys($__sprite-group__), 1);
	}
	$retina: if(null==$retina, global_variable_exists('__sprite-group-2x__'), $retina);
	$set: if($retina, $__sprite-group-2x__, $__sprite-group__);
	$set: map-get($set, $group);
	$set: map-get($set, nth(map-keys($set), 1));
	$prop: if('width'==$prop, 'total_width', $prop);
	$prop: if('height'==$prop, 'total_height', $prop);
	@return map-get($set, $prop);
}

@function sprite-group($group: 'default', $retina: null) {
	@if ('bool'==type-of($group)) {
		$retina: $group;
		$group: 'default';
	}
	$retina: if(null==$retina, global_variable_exists('__sprite-group-2x__'), $retina);
	$set: if($retina, $__sprite-group-2x__, $__sprite-group__);
	@return map-get($set, $group);
}

@mixin sprite-position($name) {
	$x: null;
	$y: null;
	@if ($__sprite-is-rem__) {
		$x: unquote(sprite-prop($name, 'x_pct'));
		$y: unquote(sprite-prop($name, 'y_pct'));
	}
	@else if ($__sprite-only-retina__) {
		$x: sprite-prop($name, 'x', false) + px;
		$y: sprite-prop($name, 'y', false) + px;
	}
	@else {
		$x: sprite-prop($name, 'x') + px;
		$y: sprite-prop($name, 'y') + px;
	}
	background-position: $x $y;
}

@mixin sprite-item($name) {
	$slash: str-index($name, '/');
	$dir: null;
	@if ($slash) {
		$dir: str-slice($name, 0, $slash - 1);
	}
	@else {
		$dir: str-index($name, '-');
		$dir: if($dir, str-slice($dir, 0, $dir - 1), 'default');
		$dir: if(map-has-key($__sprite-group__, $dir), $dir, 'default');
	}
	@extend %__sprite-group-#{$dir}__;
	@include sprite-position($name);
	@if ($__sprite-only-retina__) {
		width: sprite-prop($name, 'width', false) + px;
		height: sprite-prop($name, 'height', false) + px;
	}
	@else {
		width: sprite-prop($name, 'width') + px;
		height: sprite-prop($name, 'height') + px;
	}
}

$__sprite-is-loaded__: global_variable_exists('__sprite-group__') and map-has-key($__sprite-group__, nth(map-keys($__sprite-local-group__), 1));
$__sprite-group__: map-merge(if(global_variable_exists('__sprite-group__'), $__sprite-group__, ()), $__sprite-local-group__);
@if (global_variable_exists('__sprite-local-group-2x__')) {
	$__sprite-group-2x__: map-merge(if(global_variable_exists('__sprite-group-2x__'), $__sprite-group-2x__, ()), $__sprite-local-group-2x__) !global;
}

@if (false==$__sprite-is-loaded__) {
	@each $dir,
	$group in $__sprite-local-group__ {
		%__sprite-group-#{$dir}__ {
			$fileName: sprite-info($dir, 'sprite_name', false);
			background-image: resolve($fileName);
			@if (global_variable_exists('__sprite-group-2x__')) {
				$fileName2x: sprite-info($dir, 'sprite_name', true);
				$total_width: sprite-info($dir, 'width', true) + px;
				$total_height: sprite-info($dir, 'height', true) + px;
				@if ($__sprite-only-retina__) {
					$total_width: sprite-info($dir, 'width', false) + px;
					$total_height: sprite-info($dir, 'height', false) + px;
				}
				background-image: -webkit-image-set(resolve($fileName) 1x, resolve($fileName2x) 2x);
				background-size: $total_width $total_height;
			}
		}
	}
}