@import "library";
@import "sprite";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    height: 100%;
    word-break: normal;
    font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-weight: normal;
}

ul {
    list-style: none;
}

em {
    font-style: normal;
}

@mixin arrow($size, $color, $direction: right) {
    width: $size;
    height: $size;
    border: 1px solid $color;
    border-left: 0;
    border-bottom: 0;

    @if ($direction == top) {
        transform: rotate(-45deg);
    }

    @if ($direction == right) {
        transform: rotate(45deg);
    }

    @if ($direction == bottom) {
        transform: rotate(135deg);
    }

    @if ($direction == left) {
        transform: rotate(-135deg);
    }
}

%wrap{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 12px 24px 0 rgba(39, 52, 56, 0.08);
}

.like, .comment, .catcall, .liked, .catcalled {
    color: #d8d9de;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
    }
}

.like {
    &:before {
        @include sprite-item(like);
    }
}

.liked {
    color: #fc5b64;
    &:before {
        @include sprite-item(liked);
    }
}

.comment {
    &:before {
        @include sprite-item(comment);
    }
}

.catcall {
    &:before {
        @include sprite-item(catcall01);
    }
}

.catcalled {
    color: #3277c2;
    &:before {
        @include sprite-item(catcall02);
    }
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    &:before {
        content: '';
        display: block;
        @include sprite-item(close)
    }
}

.banner{
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}


.login-info-wrap {
    padding: 24px 44px 100px;
    background: url(../images/bg/bg01.png) no-repeat bottom center #2c5d9f;
    background-size: 100% 90px;
    img {
        display: block;
        margin: 0 auto 30px;
        width: 130px;
        height: auto;
    }
    p {
        line-height: 42px;
        font-size: 24px;
        color: #fff;
        text-indent: 1.8em;
        text-align: justify;
    }
}

.login-input-wrap {
    padding: 94px 120px 0;
    input {
        display: block;
        width: 100%;
        border: 0;
        outline: 0;
        @include background-border(#3277c2, 0, 0, 1, 0);
        font-size: 28px;
        color: #333;
        line-height: 58px;
        padding-left: 20px;
        box-sizing: border-box;
        &::-webkit-input-placeholder {
            color: #ced0d7;
        }
    }
    .login-input {
        position: relative;
        padding-left: 56px;
        margin-bottom: 94px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    .username {
        &:before {
            @include sprite-item(avatar)
        }
    }
    .mobile {
        &:before {
            @include sprite-item(mobile)
        }
    }
    .btn {
        display: block;
        text-align: center;
        line-height: 90px;
        background-color: #3277c2;
        color: #fff;
        border-radius: 90px;
    }
    .name {
        margin-top: 60px;
        line-height: 46px;
        text-align: center;
        color: #ced0d7;
        font-size: 26px;
    }
}

.index-header {
    position: relative;
    text-align: center;
    padding: 18px 0;
    background-color: #fff;
    .logo {
        vertical-align: top;
        width: 102px;
        height: auto;
    }
    .catalog {
        position: absolute;
        right: 0;
        top: 0;
        padding: 36px 36px 0 0;
        height: 100%;
        box-sizing: border-box;
        &:before {
            content: '';
            display: block;
            @include sprite-item(catalog);
        }
    }
}

.swiper-container {
    a {
        display: block;
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .swiper-pagination-bullets {
        right: 30px;
        bottom: 22px;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: rgba(#fff, 0.6);
        margin: 0 8px;
    }

    .swiper-pagination-bullet-active {
        background-color: #fff;
    }
    .slider-news-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 118px;
        background: url(../images/bg/bg02.png) no-repeat center;
        background-size: 100% 180px;
        display: flex;
        align-items: center;
    }
    .slider-news-icon {
        position: relative;
        display: block;
        flex: none;
        height: 70px;
        width: 170px;
        border-right: 1px solid #fff;
        &:before {
            content: '';
            @include position-center();
            @include sprite-item(news)
        }
    }
    .slider-news-content {
        flex: 1;
        min-width: 0;
        padding: 0 40px;
        line-height: 42px;
        font-size: 26px;
        color: #fff;
        p {
            @include line-clip(1);
        }
    }
}

.list1 {
    padding: 30px 16px 0;
    li {
        padding: 30px 30px 0;
        margin-bottom: 30px;
        box-sizing: border-box;
        @extend %wrap;
    }
    .content-wrap {
        position: relative;
        display: flex;
        align-items: flex-start;
    }
    .content-img {
        flex: none;
        display: block;
        width: 180px;
        height: 160px;
        margin-right: 30px;
        border-radius: 12px;
    }
    .content {
        position: relative;
        margin-top: -10px;
        flex: 1;
        min-width: 0;
        font-size: 26px;
        color: #333;

    }
    .tit {
        @include line-clip(1);
        line-height: 56px;
        font-size: 36px;
        padding-right: 150px;
        margin-bottom: 16px;
    }
    .desc {
        @include line-clip(2);
        line-height: 42px;
    }
    .date {
        position: absolute;
        right: 0;
        top: 0;
        color: #9092a5;
        line-height: 46px;
    }
    .infor-wrap {
        display: flex;
        line-height: 84px;
    }
    .read {
        flex: 1;
        color: #9092a5;
        font-size: 26px;
    }
    .like, .comment, .liked {
        flex: none;
        font-size: 24px;
        &:before {
            margin: 0 14px 0 26px;
        }
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    z-index: 10;
}

.pop-catalog {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background-color: #fff;
    box-shadow: -6px 8px 10px 0 rgba(0, 0, 0, 0.3);
    .close {
        padding: 30px;
    }
}

.catalog-list {
    padding-top: 100px;
    a {
        position: relative;
        display: block;
        padding-left: 84px;
        line-height: 100px;
        font-size: 28px;
        color: #333;
        @include background-border(#eaeaea, 0, 0, 1, 0);
        &.cur {
            color: #3277c2;
        }
        &:before {
            content: '';
            @include position-center('y');
            left: 32px;
        }
    }
    .home {
        &:before {
            @include sprite-item(home01);
        }
        &.cur {
            &:before {
                @include sprite-item(home02);
            }
        }
    }
    .find {
        &:before {
            @include sprite-item(find01);
        }
        &.cur {
            &:before {
                @include sprite-item(find02);
            }
        }
    }
    .study {
        &:before {
            @include sprite-item(study01);
        }
        &.cur {
            &:before {
                @include sprite-item(study02);
            }
        }
    }
    .car {
        &:before {
            @include sprite-item(car01);
        }
        &.cur {
            &:before {
                @include sprite-item(car02);
            }
        }
    }
    .user {
        &:before {
            @include sprite-item(user01);
        }
        &.cur {
            &:before {
                @include sprite-item(user02);
            }
        }
    }
}

.news-wrap {
    padding: 40px 34px;
    color: #333;
    .tit {
        line-height: 66px;
        font-size: 46px;
    }
    .par {
        line-height: 44px;
        font-size: 26px;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 24px 0;
    }
}

.news-info {
    line-height: 68px;
    font-size: 28px;
    padding-bottom: 16px;
    .classify {
        color: #3277c2;
    }
    .date {
        margin-left: 50px;
        color: #9093a6;
    }
}

.news-footer-wrap {
    height: 100px;
}

.news-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
    line-height: 100px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.08);
    .read {
        flex: 1;
        min-width: 0;
        font-size: 28px;
        color: #9093a6;
        white-space: nowrap;
    }
    .like, .liked, .comment, .catcall, .catcalled {
        flex: 1;
        white-space: nowrap;
        min-width: 0;
        text-align: right;
        &:before {
            margin: -2px 20px 0 0;
        }
    }
}

.pop-comment {
    position: absolute;
    top: 230px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    .header {
        display: flex;
        align-items: center;
        padding: 0 30px;
        height: 110px;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
        background-color: #fff;
        font-size: 28px;
        color: #d8d9de;
        &:after {
            content: '';
            display: block;
            flex: none;
            @include sprite-item(pen);
            margin-left: 16px;
        }
    }
    .close {
        padding: 36px 30px;
    }
}
.user-avatar {
    flex: none;
    display: block;
    width: 56px;
    height: 56px;
    margin-right: 20px;
    border-radius: 50%;
}
.pop-comment-wrap {
    position: absolute;
    left: 0;
    top: 110px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.comment-list {
    li {
        padding: 0 30px;
    }
    .user {
        padding: 30px 0 8px;
        display: flex;
        align-items: center;
    }
    .username {
        flex: 1;
        font-size: 28px;
        color: #333;
        span {
            &:last-child {
                &:after {
                    display: none;
                }
            }
            &:after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                margin: -1px 0 0 10px;
                border-left: 10px solid #999;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 10px solid transparent;
            }
        }
    }
    .date {
        flex: none;
        color: #9093a6;
        font-size: 26px;
    }
    .content {
        padding-left: 76px;
        line-height: 38px;
        font-size: 24px;
        color: #333;
    }
    .toolbar {
        margin: -6px 0 0 76px;
        overflow: hidden;
        @include background-border(#e9e9e9, 0, 0, 1, 0);
        span {
            height: 100%;
            line-height: 86px;
        }
    }
    .reply, .delete {
        float: left;
        margin-right: 40px;
        font-size: 26px;
        color: #9093a6;
    }
    .liked, .like, .catcall, .catcalled {
        float: right;
        &:before {
            margin: -2px 20px 0 44px;
        }
    }

}

.pop-comment-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 454px;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    .close {
        padding: 36px 30px;
    }
    .header{
        display: flex;
        height: 100px;
        align-items: center;
        padding: 0 136px 0 26px;
        font-size: 24px;
        @include background-border(#e9e9e9,0,0,1,0);
    }
    .header-reply{
        flex: none;
        margin-right: 8px;
        color: #d8d9de;
    }
    .header-content{
        flex: 1;
        min-width: 0;
        color: #333;
        @include line-clip(1);
    }
    .input{
        border: 0;
        outline: 0;
        padding: 20px 26px;
        width: 100%;
        min-height: 250px;
        font-size: 28px;
        color: #343d44;
        box-sizing: border-box;
    }
    .toolbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 30px;
        height: 100px;
        @include background-border(#e9e9e9,1,0,0,0);
    }
    .reply{
        display: block;
        flex: none;
        width: 110px;
        line-height: 50px;
        text-align: center;
        border: 1px solid #d8d9de;
        font-size: 26px;
        color: #9093a6;
        box-sizing: border-box;
        border-radius: 1px;
    }
    .keyboard{
        padding: 30px;
        &:before{
            content: '';
            display: block;
            @include sprite-item(keyboard)
        }
    }
    .face{
        &:before{
            @include sprite-item(face)
        }
    }
}
.find-banner{
    position: relative;
    img{
        vertical-align: top;
        width: 100%;
        height: auto;
    }
    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
}
//发现宝典
.classify-wrap{
    position: relative;
    margin: 0 30px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 12px 24px 0 rgba(39, 52, 56, 0.12);
}
.classify-wrap01{
    margin-top: -80px;
    padding: 50px 0;
    &:before{
        content: '';
        position: absolute;
        right: -30px;
        top: 60px;
        width: 300px;
        height: 222px;
        background: url(../images/bg/pen.png) no-repeat center;
        background-size: 100% 100%;
    }
    .tit{
        @include sprite-item(tit01);
        margin: 0 auto 100px;
    }
}
.classify-wrap02{
    margin-top: 30px;
}
.classify-list{
    .classify-item{
        background: url(../images/bg/line.png) repeat-x bottom left;
        background-size: 22px 1px;
        &:first-child{
            background: url(../images/bg/line.png) repeat-x bottom left,url(../images/bg/line.png) repeat-x top left;
            background-size: 22px 1px;
        }
    }
}
.classify-item{
    position: relative;
    line-height: 100px;
    margin: 0 24px;
    font-size: 26px;
    color: #333;
    padding-left: 50px;
    &:before{
        content: '';
        left: 0;
        @include position-center(y);
    }
    &:after{
        content: '';
        right: 0;
        @include position-center(y);
        @include arrow(18px,#ced0d7,right);
    }
    &.item01{
        &:before{
            @include sprite-item(icon01);
        }
    }
    &.item02{
        &:before{
            @include sprite-item(icon02);
        }
    }
    &.item03{
        &:before{
            @include sprite-item(icon03);
        }
    }
    &.item04{
        &:before{
            @include sprite-item(icon04);
        }
    }
}
//发现新大陆
.find-list{
    padding-top: 74px;
    li{
        display: flex;
        height: 286px;
        border-radius: 10px;
        box-shadow: 0px 12px 24px 0px rgba(39, 52, 56, 0.12);
        margin: 0 30px 74px;
    }
    .img{
        display: block;
        flex: none;
        width: 280px;
        height: 300px;
        margin: -34px 20px 0;
    }
    .txt{
        flex: 1;
        color: #343d44;
        &:last-child{
            margin-right: 30px;
        }
        &:first-child{
            margin-left: 30px;
        }
    }
    .tit{
        margin-top: 28px;
        line-height: 54px;
        font-size: 34px;
    }
    .content{
        margin-top: 26px;
        font-size: 24px;
        line-height: 30px;
        text-align: justify;
        @include line-clip(3);
    }
    .toolbar{
        display: flex;
        margin-top: 16px;
        font-size: 24px;
        line-height: 64px;
    }
    .read{
        display: block;
        flex: 1;
        color: #9093a6;
    }
    .like{
        &:before{
            margin: -2px 14px 0 0;
        }
    }
}
.level-wrap{
    position: relative;
    min-height: 100%;
    background: url(../images/bg/bg03.png) no-repeat bottom left,linear-gradient( to bottom,#D2E6FB 0%, #7FBEFD 100%);
    background-size: 100% auto;
    z-index: 0;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 16px;
        @include sprite-item(cloud);
    }
}
.level-list{
    position: relative;
    font-size: 0;
    padding: 100px 0 0 percentage(48/750);
    z-index: 1;
    li{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: percentage(126/700);
        line-height: 120px;
        margin-right: percentage(48/700);
        margin-bottom: 100px;

        &:before{
            content: '';
            @include position-center();
            @include sprite-item(level01);
            z-index: -1;
        }

        &:after{
            content: '';
            position: absolute;
            right: 0;
            bottom: -20px;
            @include sprite-item(lock);
        }
    }
    .done{
        position: relative;
        font-size: 60px;
        color: #fff;
        text-align: center;
        &:before{
            @include sprite-item(level02);
            border-radius: 54px;
            box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.18);
        }
        &:after{
            display: none;
        }
    }
}
.task-wrap{
    border-bottom: 10px solid #f2f2f2;
    .img-wrap{
        padding: 30px 30px 20px;
    }
    .img{
        display: block;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
    .tit{
        line-height: 52px;
        text-align: center;
        font-size: 32px;
        color: #333;
    }
    .date{
        padding: 18px 30px;
        line-height: 48px;
        font-size: 24px;
        color: #666;
        border-top: 1px solid #e9e9e9;
    }
}
.task-input-wrap{
    padding: 30px 30px;
    textarea{
        display: block;
        padding: 20px 24px;
        width: 100%;
        height: 170px;
        border: 1px solid #e9e9e9;
        outline: 0;
        font-size: 24px;
        color: #333;
        box-sizing: border-box;
    }
    .img-wrap{
        position: relative;
        width: 120px;
        height: 120px;
        border: 1px solid #e9e9e9;
        box-sizing: border-box;
        margin-right: 20px;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        input{
            opacity: 0;
            width: 0;
        }
    }
    .file-input{
        display: block;
        &:before,&:after{
            content: '';
            background-color: #e9e9e9;
            @include position-center();
        }
        &:before{
            width: 4px;
            height: 50px;
        }
        &:after{
            height: 4px;
            width: 50px;
        }
    }
    .note{
        line-height: 40px;
        font-size: 20px;
        color: #9092a5;
    }
    .btn{
        display: block;
        margin: 50px 120px 0;
        line-height: 88px;
        text-align: center;
        color: #fff;
        font-size: 28px;
        background-color: #3277C2;
        border-radius: 88px;
    }
}
.img-input-wrap{
    display: flex;
    padding: 20px 0;
}
.task-submitted-wrap{
    border-bottom: 10px solid #e9e9e9;
    .img-wrap{
        display: flex;
        padding: 0 30px 30px;
    }
    .img-box{
        flex: 1;
        margin-right: 20px;
        position: relative;
        height: 200px;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}
.task-tit{
    margin-left: 30px;
    line-height: 80px;
    font-size: 28px;
    color: #333;
    font-weight: bold;
    @include background-border(#e9e9e9,0,0,1,0);
}
.task-desc{
    padding: 6px 30px 20px;
    line-height: 42px;
    font-size: 24px;
}
.task-comment{
    padding: 0 30px 30px;
    .grade{
        margin-top: 12px;
        padding-left: 76px;
        line-height: 44px;
        font-size: 24px;
        color: #9092a5;
        span{
            color: #3277c2;
        }
        .disable{
            color: #fe575f;
        }
    }
}
//排行榜
.rank-tit{
    height: 310px;
    padding-top: 36px;
    text-align: center;
    line-height: 56px;
    color: #fff;
    font-size: 36px;
    background: url(../images/bg/bg04.png) no-repeat center;
    background-size: 100% 346px;
}
.rank-wrap{
    box-sizing: border-box;
    font-size: 24px;
    margin: 0 42px;
    @extend %wrap;
}
.rank-user-wrap{
    height: 316px;
    margin-top: -236px;
    padding: 34px 96px 0;
    line-height: 44px;
    color: #9092a5;
    text-align: center;
    .user-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .avatar{
        display: block;
        width: 110px;
        height: 110px;
        border: 1px solid #ced0d7;
        border-radius: 50%;
    }
    .num{
        font-weight: bold;
        line-height: 46px;
        font-size: 30px;
        color: #333;
    }
    .name{
        margin-top: 12px;
        line-height: 46px;
        font-size: 26px;
        color: #333;
    }
    .line{
        position: relative;
        margin: 24px 0 18px;
        height: 8px;
        background-color: #f0f1f3;
    }
    .cur{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: #ffd509;
        &:after{
            content: '';
            position: absolute;
            top: -4px;
            right: -1px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #ffd509;
        }
    }
}
.rank-credits{
    position: relative;
    display: block;
    margin-top: 24px;
    line-height: 78px;
    padding: 0 26px;
    &:after{
        content: '';
        position: absolute;
        right: 26px;
        top: 0;
        bottom: 0;
        margin: auto;
        @include arrow(18px,#ced0d7,right);
    }
}
.rank-list{
    padding: 0 42px;
    li{
        display: flex;
        align-items: center;
        height: 132px;
        @include background-border(#dfdfdf,0,0,1,0);
        color: #333;
        font-size: 26px;
        &:nth-child(-n+3){
            .num{
                font-size: 0;
                margin-right: 30px;
            }
        }
        &:first-child{
            .num{
                @include sprite-item(top01);
            }
        }
        &:nth-child(2){
            .num{
                @include sprite-item(top02);
            }
        }
        &:nth-child(3){
            .num{
                @include sprite-item(top03);
            }
        }
    }
    .num{
        display: block;
        flex: none;
        width: 78px;
        padding-left: 16px;
        box-sizing: border-box;
    }
    .avatar{
        display: block;
        flex: none;
        width: 68px;
        height: 68px;
        margin-right: 24px;
        border-radius: 50%;
        border: 1px solid #ced0d7;
    }
    .name{
        display: block;
        flex: 1;
        min-width: 0;
        @include line-clip(1);
    }
    .credits{
        display: block;
        flex: none;
        color: #3277c2;
        margin-left: 20px;
    }
}
.credits-tab{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 70px 20px;
    font-size: 28px;
    line-height: 48px;
    color: #8e93a6;
    box-shadow: 0 8px 20px 0 rgba(39, 52, 56, 0.12);
    box-sizing: border-box;
    z-index: 10;
    i{
        display: block;
        margin-bottom: 8px;
    }
    .all{
        @include sprite-item(all01);
    }
    .add{
        @include sprite-item(add01);
    }
    .reduce{
        @include sprite-item(reduce01);
    }
    .cur{
        i{
            border-radius: 50%;
            box-shadow: 1px 8px 14px 0 rgba(22, 110, 231, 0.25);
        }
        .all{
            @include sprite-item(all02);
        }
        .add{
            @include sprite-item(add02);
        }
        .reduce{
            @include sprite-item(reduce02);
        }
    }
}
.credits-list{
    padding-top: 206px;
    li{
        display: flex;
        align-items: center;
        padding: 0 30px;
        height: 120px;
        @include background-border(#e9e9e9,0,0,1,0);
    }
    .source{
        flex: 1;
        min-width: 0;
        font-size: 28px;
        color: #3a434a;
        @include line-clip(1);
    }
    .num{
        flex: none;
        margin-left: 20px;
        font-size: 32px;
        color: #8e93a6;
        &.reduce{
            color: #fe575f;
        }
    }
}
//学霸闯关
.test-wrap{
    position: relative;
    @extend %wrap;
    margin: 0 42px 30px;
    padding: 38px 70px 38px 36px;
    .banner + &{
        margin-top: -46px;
    }
    &:after{
        content: '';
        position: absolute;
        right: 30px;
        top: 0;
        bottom: 0;
        margin: auto;
        @include arrow(18px,#387ac3)
    }
    .tit{
        @include line-clip(1);
        line-height: 48px;
        font-size: 28px;
        color: #333;
    }
    .score{
        margin-left: 24px;
        font-size: 24px;
        color: #e63344;
    }
    .date{
        line-height: 44px;
        font-size: 24px;
        color: #9092a5;
    }
}
//积分购物筐
.shop-coin-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    padding: 0 32px;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 6px 20px 0 rgba(59, 59, 59, 0.15);
    .num{
        color: #005aac;
        &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin: -2px 10px 0 0;
            @include sprite-item(coin01);
        }
    }
}
.shop-list{
    font-size: 0;
    padding: 0 30px;
    li{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        box-sizing: border-box;
        border-bottom: 1px solid #e9e9e9;
        padding: 40px 10px 0 26px;
        &:nth-child(odd){
            border-right: 1px solid #e9e9e9;
            padding: 40px 26px 0 10px;
        }
    }
    .tit{
        line-height: 48px;
        font-size: 28px;
        color: #333;
        @include line-clip(1);
    }
    .info{
        display: flex;
        justify-content: space-between;
        padding-bottom: 18px;
        line-height: 46px;
        font-size: 26px;
    }
    .num{
        color: #9092a5;
        &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin: -2px 10px 0 0;
            @include sprite-item(coin02);
        }
    }
    .btn{
        color: #fe575f;
    }
    .img-wrap{
        position: relative;
        width: percentage(268/345);
        height: 0;
        padding-bottom: percentage(188/345);
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        img{
            @include position-center();
            max-width: 100%;
            max-height: 100%;
        }
    }
}
//商品详情
.goods-info-wrap{
    border-bottom: 10px solid #f0f0f0;
    .goods-tit{
        padding: 20px 30px 0;
        line-height: 48px;
        font-size: 28px;
        color: #333;
        font-weight: bold;
        @include line-clip(1);
    }
    .goods-price{
        padding: 0 30px 20px;
        line-height: 50px;
        font-size: 30px;
        color: #fe575f;
        &:before{
            content: '';
            display: inline-block;
            @include sprite-item(coin03);
            margin: -2px 10px 0 0;
        }
    }
}
.goods-img-wrap{
    padding: 60px 0;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    img{
        vertical-align: top;
        max-width: percentage(370/750);
        max-height: 260px;
    }
}
.goods-detail{
    padding: 0 30px;
    .tit{
        line-height: 88px;
        font-size: 28px;
        color: #333;
        font-weight: bold;
        border-bottom: 1px dashed #e9e9e9;
    }
    .desc{
        padding-top: 18px;
        line-height: 46px;
        font-size: 26px;
        color: #666;
    }
}
.gooods-footer{
    height: 120px;
}
%btn{
    display: block;
    line-height: 88px;
    text-align: center;
    border-radius: 88px;
    color: #fff;
    background-color: #3276C1;
    font-size: 28px;
}
.goods-btn-wrap{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 -6px 12px 0 rgba(39, 52, 56, 0.08);
    .btn{
        @extend %btn;
        margin: 16px 120px;
    }
}
//产品兑换
.exchange-wrap{
    overflow: hidden;
}
.exchange-box{
    position: relative;
    margin: percentage(100/750) 30px;
    padding: 0 30px 20px;
    background-color: #fff;
    box-shadow: 0 4px 24px 0 rgba(39, 52, 56, 0.08);
    border-radius: 12px;
    font-size: 30px;
    &:before,&:after{
        content: '';
        position: absolute;
        top: 208px;
        @include sprite-item(icon05);
    }
    &:before{
        left: -24px;
    }
    &:after{
        transform: rotate(180deg);
        right: -24px;
    }
}

.exchange-info{
    display: flex;
    line-height: 48px;
    padding: 48px 0;

    &:nth-child(2){
        padding-top: 0;
    }
    &:nth-child(n+2){
        @include background-border(#e9e9e9,0,0,1,0);
    }
    &:nth-child(n+3){
        padding: 60px 0 20px;
    }
    span{
        &:first-child{
            flex: none;
            width: 190px;
        }
        &:nth-child(2){
            flex: 1;
            min-width: 0;
            @include line-clip(1);
        }
    }
    input{
        flex: 1;
        border: 0;
        outline: 0;
        font-size: 28px;
        color: #333;
        &::-webkit-input-placeholder{
            color: #ced0d7;
        }
    }
}
.exchange-btn{
    margin: 80px 90px;
    @extend %btn;
}
.success-wrap{
    padding-top: percentage(212/750);
    img{
        display: block;
        width: 424px;
        height: auto;
        margin: 0 auto;
    }
    .btn{
        @extend %btn;
        margin: 230px 120px 0;
    }
}
//个人中心
.user-center-wrap{
    height: 430px;
    padding-top: 68px;
    background: url(../images/bg/bg05.png) no-repeat center;
    background-size: 100% 430px;
    text-align: center;
    box-sizing: border-box;
    .avatar{
        width: 116px;
        height: 116px;
        margin-bottom: 20px;
        vertical-align: top;
        border: 1px solid #ced0d7;
        border-radius: 50%;
    }
    .name{
        line-height: 56px;
        font-size: 36px;
        color: #fff;
    }
    .info-wrap{
        display: flex;
        margin: 64px 24px 0;
        padding: 34px 0;
        @extend %wrap;
    }
    .info{
        position: relative;
        flex: 1;
        line-height: 44px;
        p{
            &:first-child{
                font-size: 30px;
                font-weight: bold;
                color: #333;
            }
            &:last-child{
                font-size: 24px;
                color: #9092a5;
            }
        }
        &:after{
            content: '';
            @include position-center(y);
            right: 0;
            height: 66px;
            width: 1px;
            @include background-border(#CED0D7,0,1,0,0);
        }
        &:last-child{
            &:after{
                display: none;
            }
        }
    }
}
.study-wrap{
    padding-top: 106px;
    .tit{
        text-align: center;
        img{
            vertical-align: top;
            width: 156px;
            height: auto;
        }
    }
}

